In [ ]:
#pandas implementation
import pandas as pd     #importing pandas library
titanicData  = pd.read_csv('E:/Python/Data files/titanic.csv')      #reading data from local path

titanicData.head(8)     #seeing 8 rows from start of csv file
titanicData.tail(8)     #seeing 8 rows from end of csv file
titanicData.dtypes      #seeing the data types of all the columns/ series in data frame/set
titanicData['age'].dtypes   #getting data type of single series/column data.
titanicData['age'].max()    #seeing the max age of passenger
titanicData['age'].min()    #seeing the min age of passenger
titanicData['age'].describe()   #seeing the statistics of passenger ages
#titanicData.to_excel('titanic.xlsx',sheet_name='PassengerData',index=False)     #creating excel xlsx file from csv file accessed above
#passengerData = pd.read_excel('E:/Python/Practice/titanic.xlsx',sheet_name='PassengerData')     #reading/accessing data from file created above

#titanicData.info()      #getting technical details of file/ document
type(titanicData['age'])    #checking whether it is series or data frame something else
titanicData['age'].shape       #this returns shape of data mean how many rows and columns of data
titanicData['age']      #accessing only age of titanic passengers
titanicData[['age','sex']]      #accessing age and sex of passengers, inner square bracket act as python list which contains column/series name
titanicData[['age','sex']].shape        #this returns shape of data mean how many rows and columns of data

above_35 = titanicData['age']>80        #this shows for which rows the age is greater than 80 if greater then shows true otherwise false
above_30 = titanicData[titanicData['age']>30]       #getting specific rows based on some condition
above_30.head(100)
#above_30.shape      #getting number of rows with age greater than 30

classData = titanicData[titanicData['pclass'].isin([2,3])]      #getting data of passengers from class 2 and 3
classData.head(10)
embarkedData = titanicData[titanicData['embarked'].isin(['C','S'])]      #getting data of passengers from with embarked C and S
embarkedData.head(10)

knownAge = titanicData[titanicData['age'].notna()]        #return rows where age is known/ not nan
knownAge.head()

notNull = titanicData[titanicData['name'].isnull()]       #returns rows where name is null
notNull.head()

specificRowsAndColumns = titanicData.loc[titanicData['age']>35, 'name']     #returns name and age of passenger with age greater than 35. it is done using names of rows and columns
specificRowsAndColumns.head(10)

titanicData.iloc[5:15,2:4]      #getting 5 to 15 rows and 2 to 4 columns. it is done using position of rows and columns

In [ ]:
#ploting the data
import pandas as pd         #importing pandas to get data from files
import matplotlib.pyplot as plt     #importing the matplotlib.pyplot to plot the data
airQualityData = pd.read_csv('E:/Python/Data files/air_quality_no2.csv',index_col=0,parse_dates=True)
airQualityData.head()

#airQualityData.plot()       #plotting the air quality data 
#airQualityData['station_paris'].plot()      #plotting the air quality data of paris station only
# plt.show()

#airQualityData.plot.scatter(x='station_london',y='station_paris')
# plt.show()

[       #python code to get overview of available plot methods
    method_name
    for method_name in dir(airQualityData.plot)
    if not method_name.startswith("_")
]

#airQualityData.plot.box()       #plotting the air quality data as boxes

#airQualityData.plot.area(figsize=(12,5), subplots=True)     #plotting the each column of air quality data as separate subplots at same time

#customizing the matplotlib plots/graphs
#fig, axs = plt.subplots(figsize=(12,5))     #drawing the simple graph/plot structure
#airQualityData.plot.area(ax=axs)            #plotting the actual air quality data of all the columns
#axs.set_ylabel("NO$_2$ concentration")      #setting the label to y axis as 'no2_concentrations'
#fig.savefig("no2_concentrations.png")       #downloading png image of the graph plotted above in local storage near file in which coded the plotting code




#creating new columns in the air quality data 
airQualityData["london_mg_per_cubic"] = airQualityData["station_london"] * 1.882    #adding new column in air quality data
airQualityData.head()

airQualityData["paris_versus_london_ratio"] = (airQualityData['station_paris']/airQualityData["station_london"])        #adding new column by taking ratio of two existing columns
airQualityData.head()

new = airQualityData.rename(columns={'london_mg_per_cubic':'LondonMgPerCubic'})     #renaming the column heads
new.head()

upperCaseName = airQualityData.rename(columns=str.upper)        #changing the name of all the columns to Upper case 
upperCaseName.head()

In [ ]:

import pandas as pd         #importing pandas to get data from files
titanicData  = pd.read_csv('E:/Python/Data files/titanic.csv')      #reading data from local path from file titcanic.csv

#getting different statistics from titanic passenger data file (titanic.csv). 
# Note - these statistical methods can only be applied to numneric data only

titanicData['age'].mean()       #getting the average age of titanic passengers

#getting the average age and fare of titanic passengers. Note - if accessing multiple columns then write those 
# column names inside [] brackets inside main [] brackets like titanicData[['age','fare']]
titanicData[['age','fare']].median()        #getting median of age and fare of passenger data

titanicData[['age','fare']].describe()      #getting statistical data of age and fare columns.

#Instead of the predefined statistics, specific combinations of 
#aggregating statistics for given columns can be defined using the DataFrame.agg() method:
titanicData.agg(
    {
        'age': ['min','max','std'],
        'fare': ['mean','count','skew']
    }
)

#use of groupby() function
titanicData[['age','sex']].groupby('sex').mean()    #getting the the mean age of passenger based on gender using groupby() property
titanicData.groupby('sex').mean()       #getting the mean of every column in passenger data based on sex of passengers. Note - it will be applied only on numberic values
#above functionality can also be used as below to exclude data types other than numberic data
titanicData.groupby('sex').mean(numeric_only = True)
titanicData.groupby('sex')['age'].mean()        #getting average age only based on sex

titanicData.groupby(['sex','pclass'])['fare'].mean()        #getting the mean of fare of passengers based on sex and pclass collectively. we need to provide column list to groupby() in this case

titanicData['pclass'].value_counts()        #getting the number of passengers in each pclass
titanicData['sex'].value_counts()           #getting the number of passengers on based of sex
titanicData.groupby('sex').size()           #getting the number of passengers based on sex using groupby() and size() collectively

In [17]:
#more operations of pandas
import pandas as pd         #importing pandas to get data from files
titanicData  = pd.read_csv('E:/Python/Data files/titanic.csv')
airQualityData = pd.read_csv('E:/Python/Data files/air_quality_no2.csv',index_col=0,parse_dates=True)


titanicData.sort_values(by='age').head()    #sorting titanic data on basis of age
titanicData.sort_values(by=['age','pclass']).head()     #sorting data in ascending order on basis of age and pclass
titanicData.sort_values(by=['age','pclass'],ascending=False).head()     #sorting data in descending order on basis of age and pclass

# no2 = airQualityData[airQualityData["parameter"] == "no2"]
# no2_subset = no2.sort_index().groupby(["location"]).head(2)

airQualityData.head()

                     station_antwerp  station_paris  station_london
datetime
2019-05-07 02:00:00              NaN            NaN            23.0
2019-05-07 03:00:00             50.5           25.0            19.0
2019-05-07 04:00:00             45.0           27.7            19.0
2019-05-07 05:00:00              NaN           50.4            16.0
2019-05-07 06:00:00              NaN           61.9             NaN

In [21]:
import pandas as pd 
#creating data frames from dictionary of series 
#data frame is actually table 
dictionary = { 
 'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']), 
 'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd']) 
} 
df = pd.DataFrame(dictionary)
df

#when creating data frame by not using series then the length of all the lists should be same.
#creating data frame without indexes from ndarray. when no indexes are given, numbers are assigned to data frame items
# Note - ndarray have equal elements in all the serires present in dictionary
d = { 
 'one' : [1., 2., 3., 4.], 
 'two' : [4., 3., 2., 1.] 
} 
pf = pd.DataFrame(d)
pf
pd.DataFrame(d,index=['a','b','c','d'])     #adding indexes to data frame created above


#constructing data frame from a list of dicts without providing indexes
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}] 
pd.DataFrame(data2) 
pd.DataFrame(data2, index=['first', 'second'])      #adding indexes in above data frame
pd.DataFrame(data2, columns=['a', 'b'],index=['first','second'])         #passing list of dictionaries as data and columns labels as a,b and list of indexes

pd.DataFrame({
    ('a', 'b'): {('A', 'B'): 1, ('A', 'C'): 2}, 
    ('a', 'a'): {('A', 'C'): 3, ('A', 'B'): 4}, 
    ('a', 'c'): {('A', 'B'): 5, ('A', 'C'): 6}, 
    ('b', 'a'): {('A', 'C'): 7, ('A', 'B'): 8}, 
    ('b', 'b'): {('A', 'D'): 9, ('A', 'B'): 10}
}) 
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}] 
dataframe = pd.DataFrame(data2) 
dataframe

dataframe.from_dict
dataframe.from_records

In [30]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 





series = pd.Series([1,3,5,34,64],index=['a','b','c','d','e'])
series

# d = {'a' : 'I am Ahmad', 'b' : 'I am a Muslim', 'c' : 'I am student of CS'} # a python dict 
# pd.Series(d) 
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])      #creating series by using random numbers generated by using numpy library
s 
# s.index
s[0] 
s[:5] 
s.median()
s[s > s.median()] 
s[[4, 3, 1]]

s = pd.Series([12,19,54,23,99], index=['a', 'b', 'c', 'd', 'e'])  
s 

# a = s['a'] + s['a'] 
# b = s['b'] + s['b'] 
# c = s['c'] + s['c'] 
# d = s['d'] + s['d'] 
# e = s['e'] + s['e'] 
s+s     #adding each value of series with itself
s * 2      #multiplying each value of series with 2
s = pd.Series([12,19,54,23,99], index=['a','b','c','d','e'])
s
s.rename('Series of integers under hundred')
s[[4, 3, 1]]
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])      #creating series by using random numbers generated by using numpy library
s
np.exp(s)

data = np.zeros((2,), dtype=[('A', 'i4'),('B', 'f4'),('C', 'a10')]) 
data
data['A']

pd.DataFrame.from_records(data, index='C')

     A    B
C
b''  0  0.0
b''  0  0.0